.mat-mdc-select {
  margin: 8px 10px;
  height: 30px;
}

mat-datepicker-toggle{
  font-size: 30px;
}

.divider{
  border-bottom: 1px solid lightgray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.reset-icon {
  transform: rotate(-180deg);
}

.prop-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  height: 80px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;

  border: 1px solid lightgray;
  background: var(--mat-dialog-container-group-background);

  div.repeatable-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: fit-content;
  }

  mat-form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &:has(input[type=number]) {
      max-width: 136px;
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    width: unset !important;
  }
}

.container {
  padding: 20px;
}

h1 {
  color: var(--text-general-color);
}

.mat-mdc-form-field {
  display: flex;
}

.mdc-text-field {
  overflow: visible !important;
}
