<div fxLayout="column">
  <mat-form-field color="accent"  appearance="fill" class="autowidth">
    <mat-label>What need to do?</mat-label>
    <input [(ngModel)]="data.task.text" matInput type="text" name="taskText" autofocus>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-checkbox [(ngModel)]="data.task.isRepeatable">Is repeatable</mat-checkbox>
    <div *ngIf="data.task.isRepeatable" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field [style.margin-right]="'10px'">
        <input matInput  [(ngModel)]="data.task.goalRepeatCount" placeholder="Repeating count">
      </mat-form-field>
      <mat-form-field [style.margin-right]="'10px'">
        <input matInput [(ngModel)]="data.task.habbitIntervalInHours" placeholder="Repeating interval (hrs)">
      </mat-form-field>
    </div>



    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field [style.width]="'85px'"  [style.margin-right]="'10px'">
        <input matInput placeholder="Duration (hr)" type="number" min="0"
               [(ngModel)]="data.task.executionDuration">
      </mat-form-field>

      <mat-form-field [style.margin-bottom]="'7px'">
        <input matInput placeholder="Choose a deadline" (click)="picker.open()" name="nnnn"
               [(ngModel)]="data.task.deadline"  [ngxMatDatetimePicker]="picker" >
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSeconds]="false"
                                 [color]="'primary'"
                                 [disableMinute]="false" [hideTime]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
  <button mat-stroked-button
          (click)="addConnectedLine()"
          [disabled]="isAddingDuplicatesDisabled()"
  >
    Add connected duplicate
  </button>
  <div *ngIf="!!connectedDuplicates.length" >
    <div fxFill fxLayout="row" fxLayoutAlign="space-evenly center" class="divider"
         *ngFor="let item of connectedDuplicates">
      <mat-select #selectedCtg placeholder="Category"
                  [value]="item.cId"
                  (valueChange)="ctgSelectionChanged(item, $event)">
        <div *ngFor="let ctg of categories">
          <mat-option [value]="ctg.id" >{{ctg.name}}</mat-option>
        </div>
      </mat-select>
      <mat-select placeholder="Subcategory"
                  [value]="item.sId"
                  [disabled]="!item.cId"
                  (valueChange)=" item.sId = $event">
        <div *ngFor="let sub of (categories | findBy: 'id': item.cId)?.subcategories || []">
          <mat-option [value]="sub.id">{{sub.name}}</mat-option>
        </div>
      </mat-select>
      <mat-icon (click)="removeConnectedLine(item)">close</mat-icon>
    </div>
  </div>
  <button mat-stroked-button (click)="close(data.task)">Apply</button>
</div>
