.mat-mdc-select {
  margin: 8px 10px;
  height: 30px;
}

mat-datepicker-toggle{
  font-size: 30px;
}

.divider{
  border-bottom: 1px solid lightgray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.reset-icon {
  transform: rotate(-180deg);
}

.prop-group {
  display: flex;
  align-content: center;
  justify-content: space-between;
  place: space-between center;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 80px;
  padding: 10px;
  flex-direction: row;
  background: var(--mat-dialog-container-group-background);
}
