.mat-select {
  margin: 8px 10px;
  height: 30px;
}

mat-datepicker-toggle{
  font-size: 30px;
}

.divider{
  border-bottom: 1px solid lightgray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
