.border {
  padding: 30px 25px;
  border-radius: 15px;
  border:1px solid #69f0ae;
  background: transparent;
  box-shadow: 0 0 3px dimgray;
  margin-top: 20%;
}

.regLogChange{
  font-size: 12px;
  padding: 0;
  text-decoration: underline;
}

.regLogChange:hover {
  color: #69f0ae;
}
