<div>
  <div *ngIf="!isRegistration" fxLayout="column" fxLayoutAlign="center center">
    <h3>Sign in</h3>
    <input placeholder="Username">
    <input placeholder="Password">
    <button mat-button color="accent" (click)="Login()">Login</button>
  </div>

  <div *ngIf="isRegistration" fxLayout="column" fxLayoutAlign="center center">
    <h3>Sign up</h3>
    <input placeholder="Username">
    <input placeholder="Password">
    <input placeholder="Confirm password">
    <button mat-button color="accent" (click)="Registration()">Login</button>
  </div>
</div>
