@import 'src/app/core/scss/themes';

nav div div {
  width: 60%
}

nav {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background: var(--navbar-background);
}

.spinner-wrap {
  image-rendering: pixelated;
  background-size: 1500px;
  background: url("../assets/bg3.jpg") center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

img {
  image-rendering: pixelated;
}

a {
  text-decoration: none;
  color: white;
}

