nav div div {
  width: 60%
}

nav{
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background: #424242;
}

.spinner-wrap{
  background: url("src/assets/bg3.jpg") #151515;
  image-rendering: pixelated;
  background-size: 1500px;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
}

img{
  image-rendering: pixelated;
}

a{
  text-decoration: none;
  color: white;
}

