<!--SPINNER-->
<div *ngIf="isLoading" class="spinner-wrap" fxFill fxLayoutAlign="center center">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>

<nav *ngIf="!isLoading">
  <div fxAlign="row" fxLayoutAlign="space-around">
    <a [routerLink]="'/tasks'">Productivity Keeper</a>
    <div fxLayoutAlign="space-around">
      <a [routerLink]="'/tasks'">Tasks</a>
      <a *ngIf="authService.isAuthorized()" [routerLink]="'/settings'">Settings</a>
      <a *ngIf="!authService.isAuthorized()">Login</a>
      <a *ngIf="authService.isAuthorized()" (click)="authService.logout()">Logout</a>
    </div>
  </div>
</nav>

<router-outlet [style.display]="isLoading ? 'none' : 'flex'" #router (activate)="routeChanged($event)"></router-outlet>



