nav div div {
  width: 60%
}

nav{
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background: #424242;
}

.spinner-wrap{
  background: url("src/assets/background.jpg");
  background-size: cover;
  position: fixed;

  backdrop-filter: brightness(30%) blur(5px);
}

a{
  text-decoration: none;
  color: white;
}

