<!--SPINNER-->
@if (isLoading | async) {
  <div class="h-full w-full relative">
    <div class="mobile-splash">
      <div class="mobile-splash__orb"></div>
      <div class="mobile-splash__orb mobile-splash__orb--2"></div>
      <div class="mobile-splash__orb mobile-splash__orb--3"></div>

      <div class="mobile-splash__content">
        <div class="mobile-splash__badge">Productivity Keeper</div>

        <div class="mobile-splash__quote">
          <p class="mobile-splash__line">Your</p>
          <p class="mobile-splash__future">future</p>
          <p class="mobile-splash__line mobile-splash__line--sub">is created by what you do</p>
          <p class="mobile-splash__line mobile-splash__line--bottom">
            <span class="mobile-splash__today">today</span>
            <span class="mobile-splash__not"> not </span>
            <s class="mobile-splash__tomorrow">tomorrow</s>
          </p>
        </div>

        <div class="mobile-splash__loader">
          <span></span><span></span><span></span>
        </div>
      </div>

    </div>
  </div>
} @else {
  <nav>
    <div>
      <a [routerLink]="''">Productivity Keeper</a>
      <span>
        <a [routerLink]="''">Tasks</a>
        @if (authService.isAuthorized()) {
          <a [routerLink]="'/analytics'">Analytics</a>
        }
        @if (authService.isAuthorized()) {
          <a [routerLink]="'/diary'">Diary</a>
        }
        @if (authService.isAuthorized()) {
          <a [routerLink]="'/settings'">Settings</a>
        }
        @if (!authService.isAuthorized()) {
          <a>Login</a>
        }
        @if (authService.isAuthorized()) {
          <a (click)="authService.logout()">Logout</a>
        }
      </span>
    </div>
  </nav>
}

<router-outlet #router (activate)="routeChanged($event)"></router-outlet>

