<!--      SPINNER-->
<div class="spinner-wrap task-spinner stat-spinner" *ngIf="isLoading" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<!--     CONTENT-->
<div *ngIf="(statistic$ | async) && !isLoading" class="container">
  <div fxLayoutAlign="center center">
    <h2>Statistics</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Count of done today:{{'\t'}}</p>
      <p class="pl-10">{{(statistic$ | async).countOfDoneToday}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Count of done total:{{'\t'}}</p>
      <p class="pl-10">{{(statistic$ | async).countOfDoneTotal}}</p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Percent of done today: </p>
      <p class="pl-10">{{(statistic$ | async).percentOfDoneToday | percent}} </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Percent of done total: </p>
      <p class="pl-10">{{(statistic$ | async).percentOfDoneTotal| percent}} </p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Expired total: </p>
      <p class="pl-10">{{(statistic$ | async).countOfExpiredTotal}}</p>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="end center" >
      <button mat-icon-button [disabled]="selectedChart === SelectedChart.Gauge" (click)="selectedChart = SelectedChart.Gauge; statisticSource$.subscribe()">
        <mat-icon>incomplete_circle</mat-icon>
      </button>
      <button mat-icon-button [disabled]="selectedChart === SelectedChart.Line" (click)="selectedChart = SelectedChart.Line;">
        <mat-icon>timeline</mat-icon>
      </button>
      <button mat-icon-button [disabled]="selectedChart === SelectedChart.Donut" (click)="selectedChart = SelectedChart.Donut;">
        <mat-icon>donut_large</mat-icon>
      </button>
    </div>
  <div class="chartWrap" [ngSwitch]="selectedChart">

    <ngx-charts-gauge *ngSwitchCase="SelectedChart.Gauge"
      #gChart
      [results]="single"
      [legend]="legend"
      [legendTitle]="'Percents of done per '"
      [legendPosition]="legendPosition"
      [scheme]="'neons'"
      [bigSegments]="10"
      [smallSegments]="0"
      [startAngle]="0"
      [angleSpan]="360"
      [margin]="[40,0,30,0]"
      [textValue]="getGaugeText()"
    >
    </ngx-charts-gauge>

    <ngx-charts-line-chart *ngSwitchCase="SelectedChart.Line"
      #lChart
      [legend]="legend"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="false"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="'Days'"
      [yAxisLabel]="'Count of done tasks'"
      [timeline]="true"
      [maxXAxisTickLength]="40"
      [results]="multi"
      [legendTitle]="''"
      [autoScale]="true"
    >
    </ngx-charts-line-chart>

    <ngx-charts-advanced-pie-chart *ngSwitchCase="SelectedChart.Donut"
      #pChart
      [label]="'Tasks in active category'"
      [scheme]="'cool'"
      [customColors]="getCustomColors()"
      [results]="donutChartData"
      [gradient]="false"
    >
    </ngx-charts-advanced-pie-chart>
  </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-stroked-button *ngIf="selectedChart === SelectedChart.Line"
              (click)="scaleLinearGraphicsData(1)"
              [disabled]="lineChartScale === 1"
      >
       1 week
      </button>
      <button mat-stroked-button *ngIf="selectedChart === SelectedChart.Line"
              (click)="scaleLinearGraphicsData(2)"
              [disabled]="lineChartScale === 2"
      >
        2 weeks
      </button>
      <button mat-stroked-button *ngIf="selectedChart === SelectedChart.Line"
              (click)="scaleLinearGraphicsData(4)"
              [disabled]="lineChartScale === 4"
      >
        1 month
      </button>
      <button mat-stroked-button *ngIf="selectedChart === SelectedChart.Line"
              (click)="scaleLinearGraphicsData(25)"
              [disabled]="lineChartScale === 25"
      >
        6 months
      </button>
      <button mat-stroked-button *ngIf="selectedChart === SelectedChart.Line"
              (click)="scaleLinearGraphicsData(51)"
              [disabled]="lineChartScale === 51"
      >
        1 year
      </button>
    </div>
  </div>
</div>
