@use '@angular/material' as mat;

@include mat.core();

// Palettes
$primary: mat.define-palette(mat.$purple-palette, 700);
$accent: mat.define-palette(mat.$green-palette, A200);
$warn: mat.define-palette(mat.$red-palette);

:root {
  --background: slategray;
  --navbar-background: #424242;
  --mat-card-color: #424242;
  --mat-dialog-container-background: #424242;
  --mat-dialog-container-group-background: #555555;
  --text-general-color: white;
  --task-item-color: #f2f2f2;
  --task-item-checked-color: rgb(150, 150, 150);
  --category-item-color: white;
  --selected-category-item-background: #69f0ae;
  --selected-category-item-color: black;
  --border-color: #69f0ae;
  --timer-border: #7b1fa2;
  --repeatable-task-backdrop-filter-: brightness(130%);
  --repeatable-task-backdrop-color: lightgray;

  --primary: #7b1fa2;
  --accent: #69f0ae;
  --warn: mat.get-color-from-palette($warn);
}

$theme-light: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$red-palette, 400),
    accent: mat.define-palette(mat.$indigo-palette, 400),
    warn: mat.define-palette(mat.$amber-palette)
  ),
  typography: mat.define-typography-config(),
  density: 0)
);


$theme-dark: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography:  mat.define-typography-config(),
  density: 0)
);

.dark-theme {
  @include mat.all-component-themes($theme-dark);
  @include mat.all-component-colors($theme-dark);
}

.light-theme {
  @include mat.all-component-themes($theme-light);
  @include mat.all-component-colors($theme-light);

  $primary2: mat.define-palette(mat.$red-palette, 400);
  $accent2: mat.define-palette(mat.$indigo-palette, 400);
  $warn2: mat.define-palette(mat.$amber-palette);

  --background: #FFEDE1;
  --navbar-background: #191919;
  --mat-card-color: #E49494;
  --mat-dialog-container-background: #FFEDE1;
  --mat-dialog-container-group-background: #f5e4d8;
  --text-general-color: black;
  --task-item-color: black;
  --task-item-checked-color: #5f5f5f;
  --category-item-color: dimgrey;
  --selected-category-item-background: #145C9E;
  --selected-category-item-color: white;
  --border-color: #145C9E;
  --timer-border: #145C9E;
  --repeatable-task-backdrop-filter: brightness(0.7);
  --repeatable-task-backdrop-color: white;

  --primary: #EF5350;
  --accent: #145C9E;
  --warn: #dc9c0c;
}
