.border {
  padding: 30px 25px;
  border-radius: 15px;
  border:1px solid var(--accent);
  background: transparent;
  box-shadow: 0 0 3px dimgray;
}

.regLogChange{
  font-size: 12px;
  padding: 0;
  text-decoration: underline;
}

.regLogChange:hover {
  color: var(--accent);
}
