.main-content-wrap{
  margin-top: 1%;
  margin-left: 1%;
}
.categories-wrap{
  margin-top: 10px;
}
.categoryNamesList{
  padding-left: 115px;
  font-size: 16px;
}
.categoryName{
  position: relative;
  margin-left: 5px;
  width: fit-content;
  min-width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  background:  transparent;
  box-shadow: 0 0 2px gray;
  color: white;
  border: 1px solid #69f0ae;
}
.selectedCategoryName{
  background: #69f0ae;
  color: black;
}

#newCatNameBlock{
  display: none;
}

.full-width {
  width: 100%;
}

.topright{
  position:absolute;
  right: 0;
  top: 5px;

  font-size: 14px;
  z-index: 1;
}

.edit{
  right: 0;
  font-size: 13px;
}

.delete{
  right: -15px;
}

.toprightBtn{
  position:absolute;
  right: 40px;
  top: 10px;
}

.task-action-icons-wrp {
  position: absolute;
  right:0;
  background: linear-gradient(90deg, transparent, #424242);

  top: 22%;
  width: fit-content;
  z-index: 500;
  padding-left: 20px;
}

.task-action-icon {
  position: relative;
  font-size: 13px;
  /*background: #424242;*/
}

.subcategory{
  position: relative;
}

.mat-expansion-panel-header-title {
  font-size: 16px;
}

.right{
  font-size: 18px;
  margin-right: 20px;
}

.task{
  line-height: 15px;

  position: relative;
  min-width: 250px;

  color: #f2f2f2;
  font-size: 15px;
  font-family: "Verdana", serif;

}

.taskTxt{
  width: 100%;


  margin-right: 30px;


  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep label.mat-checkbox-layout {
  height: auto;
}

.faded {
  position: relative;
  width: 40px;
  margin-left: -60px;
  display: inline-block;
  line-height: 15px;
  background: linear-gradient(90deg, transparent, #424242);


}

.tasksWrap{
  position: relative;
  padding-right: 30px;
  width: 60%;
  margin:2%;
  margin-top: 0;
}

.rightBtn{
  position: fixed;
  left: calc(62% - 20px);
  top: calc(100% - 80px);
  overflow: visible;
}

.autoheight{
  height: fit-content;
  line-break: anywhere;
}

.m-1{
  margin-left: 5px;
}

.usualFrontFamily {
  font-family: "Helvetica Neue", sans-serif;
}

.m-2{
  margin-left: -5px;
}

.medium-icon{
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.size17 {
  font-size: 17px;
}

.mat-checkbox-checked::ng-deep{
  color: rgb(150, 150, 150);
  text-decoration: rgb(150, 150, 150) line-through;
}

.childContainer{
  margin: 2%;
  width: 30%;
  margin-top: 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.footer{
  color: lightgray;
}

.repeatable-text{
  font-size: 13px;
  color: lightgray;
  border-radius: 5px;
  padding: 1px 3px;
  margin:  2px 4px 2px 15px;
  backdrop-filter: brightness(130%);
  min-width: 10px;
  width: fit-content;
  font-family: 'Arial', serif;

  max-height: 27px;
}

.tag {
  margin-left: 5px;
  max-height: 27px;
}

.mr-10 {
  margin-right: 10px;
}

.tag-txt {
  font-size: 13px;
  padding: 1px 3px;
  margin: 2px 4px 2px 2px;
  border-radius: 5px;
  font-family: 'Arial', serif;
}

.tag_icon {
  font-size: 20px;
  margin-top: 5px;
  transform: rotate(45deg);
}

.task-spinner{
  position: absolute;
  height: 75%;
  margin-top: 3%;
  width: 59%;
  left: 3%;
  margin-bottom: 5%;

  background: url('src/assets/bg5.png') #424242 no-repeat center ;
  background-size: cover;
  backdrop-filter: brightness(30%) blur(5px);
}

.taskWrap{
  height: 15px;
}

.tasks-list {
  overflow: hidden;
  display: block;
  min-height: 24px;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task:last-child {
  border: none;
}

.tasks-list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

