<div class="categories-wrap" [style.display]="areTasksLoading ? 'none' : 'block'">
  <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="start center" class="categoryNamesList">
    <div *ngFor="let category of (unit$ | async)?.categories || []">
      <div *ngIf="(activeCtg$ | async) !== category && category.isVisible" class="categoryName"
           (click)="this.activeCtg$.next(category)"
            (dblclick)="editCategory(category.id)">
        <p>{{category.name}}</p>
        <mat-icon class="topright" (click)="deleteCategory(category.id)">close</mat-icon>
      </div>
      <div *ngIf="(activeCtg$ | async) === category" class="categoryName selectedCategoryName"
           (dblclick)="editCategory()">
        <p>{{category.name}}</p>
        <mat-icon class="topright" (click)="deleteCategory()">close</mat-icon>
      </div>
    </div>
    <div [style.opacity]="areTasksLoading ? 0 : 1"  *ngIf="!(unit$ | async)?.categories || (unit$ | async)?.categories?.length === 0">
      <p>Start from adding new category</p>
    </div>
    <button [style.opacity]="areTasksLoading ? 0 : 1"  class="m-1" color="primary" mat-mini-fab (click)="addCategory()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!--CONTENT-->
<div class="main-content-wrap" fxLayout="row" [style.display]="areTasksLoading && showAnotherBackground ? 'none' : 'flex'" >
  <!-- tasks loader -->
  <div class="spinner-wrap task-spinner" *ngIf="areTasksLoading && showAnotherBackground" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <!--  TASKS -->
  <div class="tasksWrap" id="subcategories"
       cdkDropList
       [cdkDropListData]="(activeCtg$ | async)?.subcategories"
       (cdkDropListDropped)="dropSubcategory($event)">
    <mat-accordion multi cdkDropListGroup>
      <div cdkDrag [cdkDragData]="subcategory"
           *ngFor="let subcategory of (activeCtg$ | async)?.subcategories">
        <mat-expansion-panel expanded="true" class="subcategory">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="start center">
                <!-- TODO: optimize -->
                <span>
                  {{subcategory.name}} &emsp; <i>{{getTasksEstimatedDuration(subcategory.tasks) > 0 ? '('+ getTasksEstimatedDuration(subcategory.tasks) + ' hrs)' : ''}}</i>
                </span>
                <mat-icon class="warning-icon"
                          [matTooltip]="'Estimated duration (' + getTasksEstimatedDuration(subcategory.tasks) + ' hrs) is greater than ' + estimatedCapacityInHrs.toString() + ' hours'"
                          *ngIf="getTasksEstimatedDuration(subcategory.tasks) > estimatedCapacityInHrs"
                >warning</mat-icon>
                <mat-icon class="m-1 medium-icon size17" (click)="editSubcategory(subcategory)">edit</mat-icon>
                <mat-icon class="m-2 medium-icon" (click)="deleteSubcategory(subcategory.id)">delete_outline</mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-mini-fab color="accent" (click)="addTask(subcategory.id)" class="toprightBtn">
            <mat-icon>add</mat-icon>
          </button>

          <div class="tasks-list" id="tasks"
               cdkDropList
               cdkDropListOrientation="vertical"
               cdkDropListLockAxis="y"
               [cdkDropListData]="subcategory.tasks"
               [cdkDropListEnterPredicate]="tasksDropListEnterPredicate(subcategory.id)"
               (cdkDropListDropped)="dropTask($event, subcategory.id)">
            <div cdkDrag
                 cdkDragLockAxis="y"
                 [cdkDragData]="task"
                 *ngFor="let task of subcategory.tasks">
              <div fxLayout="row wrap taskWrap">
                <div class="task" fxLayout="row wrap" fxLayoutAlign>
                  <mat-checkbox class="fullwidth taskTxt" [checked]="task.isChecked"
                                (change)="taskCheckedStateChanged(task.id)"
                                [matTooltip]="task.text.length >= maxTaskCharachters ? task.text : ''">
                    <div [class.line-through]="task.isChecked" >{{task.text}}</div>
                  </mat-checkbox>
                  <div [ngClass]="{'faded': task.text.length >= maxTaskCharachters}"></div>
                  <mat-icon class="topright edit" (click)="editTask(subcategory.id, task)">edit</mat-icon>
                  <mat-icon class="topright delete" (click)="deleteTask(task)">close</mat-icon>
                </div>

                <div *ngIf="task.isRepeatable && task.timesToRepeat > 0" class="right repeatable-text " fxLayout="row" fxLayoutAlign="center center">
                  {{'(' + task.timesToRepeat + ' left) - ' + ((task.goalRepeatCount-task.timesToRepeat)/ task.goalRepeatCount | percent)}}
                </div>

                <div class="tag" fxLayout fxLayoutAlign
                     *ngFor="let tag of (tags$ | async)
                     | filterBy: 'taskId' : task.id : false
                     | filterBy: 'subcategoryId' : subcategory.id : true">
                  <div fxLayout fxLayoutAlign>
                    <div [matTooltip]="tag.text || ''" (click)="changeActiveCategory(tag.categoryId)">
                      <mat-icon class="tag_icon" [style.color]="tag.colorHex">sell</mat-icon>
                    </div>
                    <div class="tag-txt"
                         [style.background-color]="tag.colorHex"
                         [style.color]="tag.textColorHex"
                         (click)="changeActiveCategory(tag.categoryId)">
                      {{tag.text}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly center" *ngIf="!(activeCtg$ | async) || (activeCtg$ | async).subcategories.length === 0" >
        <h3> You don't have any subcategory </h3>
        <button class="m-1" mat-mini-fab [disabled]="!(activeCtg$ | async)" (click)="addSubcategory()">
           <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-accordion>
  <button [style.opacity]="areTasksLoading ? 0 : 1" matTooltip="Add subcategory" class="rightBtn" color="primary" mat-fab [disabled]="!(activeCtg$ | async)" (click)="addSubcategory()">
    <mat-icon>add</mat-icon>
  </button>
</div>
  <!--  TIMER & STATISTICS-->
  <div fxLayout="column" class="childContainer">
    <app-timer #timer></app-timer>
    <app-statistics #stat [activeCtg]="activeCtg$ | async"></app-statistics>
  </div>

</div>

<mat-divider></mat-divider>
<div class="footer" fxLayoutAlign="end center" [style.margin-right]="'10%'" [style.margin-top]="'10px'">
  {{'Ⓒ IKitsera   -   2024'}}
</div>
