<!--SPINNER-->
<div *ngIf="loading" class="spinner-wrap" fxFill fxLayoutAlign="center center">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>
<div class="categories-wrap">
  <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="start center" class="categoryNamesList">
    <div *ngFor="let category of unit?.categories">
      <div *ngIf="activeCategory !== category" class="categoryName" (click)="activeCategory = category">
        <p>{{category.name}}</p>
        <mat-icon class="topright" (click)="deleteCategory(category.id)">close</mat-icon>
      </div>
      <div *ngIf="activeCategory === category" class="categoryName selectedCategoryName">
        <p>{{category.name}}</p>
        <mat-icon class="topright" (click)="deleteCategory()">close</mat-icon>
      </div>
    </div>
    <div *ngIf="!unit?.categories || unit?.categories?.length === 0">
      <p>Start from adding new category</p>
    </div>
    <button class="m-1" color="primary" mat-mini-fab (click)="addCategory()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!--CONTENT-->
<div class="main-content-wrap" fxLayout="row">
  <!--  TASKS -->
  <div class="tasksWrap">
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)" multi>
    <div *ngFor="let subcategory of activeCategory?.subcategories" cdkDrag>
      <mat-expansion-panel expanded="true" class="subcategory" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{subcategory.name}}
            <mat-icon class="m-1 small" (click)="deleteSubcategory(subcategory.id)">delete_outline</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-mini-fab color="accent" (click)="addTask(subcategory.id)" class="toprightBtn">
          <mat-icon>add</mat-icon>
        </button>

        <div *ngFor="let task of subcategory.tasks">
          <div fxLayout="row">
            <div  class="task">
            <mat-checkbox class="autowidth" [checked]="task.isChecked" (change)="taskChanged(subcategory.id, task, $event)">
            {{task.text}}
            </mat-checkbox>
            <mat-icon class="topright edit" (click)="editTask(subcategory.id, task)">edit</mat-icon>
            <mat-icon class="topright" (click)="deleteTask(subcategory.id, task.id)">close</mat-icon>
            </div>
            <div *ngIf="task.isRepeatable && task.timesToRepeat > 0" class="right repeatable-text " fxLayout="row" fxLayoutAlign="center center">
              {{'(' + task.timesToRepeat + ' left) - ' + ((task.goalRepeatCount-task.timesToRepeat)/ task.goalRepeatCount | percent)}}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" *ngIf="!activeCategory || activeCategory.subcategories.length === 0" >
      <h3> You don't have any subcategory </h3>
      <button class="m-1" mat-mini-fab [disabled]="!activeCategory" (click)="addSubcategory()">
         <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-accordion>
  <button matTooltip="Add subcategory" class="rightBtn" color="primary" mat-fab [disabled]="!activeCategory" (click)="addSubcategory()">
    <mat-icon>add</mat-icon>
  </button>
</div>
  <!--  TIMER & STATISTICS-->
  <div fxLayout="column" class="childContainer">
  <app-timer [timer]="unit.timer"></app-timer>
    <app-statistics #stat></app-statistics>
  </div>

</div>

<mat-divider></mat-divider>
<div class="footer" fxLayoutAlign="end center" [style.margin-right]="'10%'" [style.margin-top]="'10px'">
  {{'Ⓒ IKitsera   -   2022'}}
</div>
