.main-content-wrap{
  margin-top: 1%;
  margin-left: 1%;
}
.categories-wrap{
  margin-top: 10px;
}
.categoryNamesList{
  padding-left: 115px;
  font-size: 16px;
}
.categoryName{
  position: relative;
  margin-left: 5px;
  width: fit-content;
  min-width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  background:  transparent;
  box-shadow: 0 0 2px gray;
  color: white;
  border: 1px solid #69f0ae;
}
.selectedCategoryName{
  background: #69f0ae;
  color: black;
}

#newCatNameBlock{
  display: none;
}

.topright{
  position:absolute;
  right: 0;
  top: 5px;

  font-size: 14px;
}

.edit{
  right: -33px;
  font-size: 13px;
}

.delete{
  right: -48px;
}

.toprightBtn{
  position:absolute;
  right: 40px;
  top: 10px;
}

.subcategory{
  position: relative;
}

.mat-expansion-panel-header-title {
  font-size: 16px;
}

.right{
  font-size: 18px;
  margin-right: 20px;
}

.task{
  position: relative;
  max-width: 85%;
  font-size: 15px;
}

.tasksWrap{
  position: relative;
  width: 60%;
  margin:2%;
  margin-top: 0;
}

.rightBtn{
  position: fixed;
  left: calc(62% - 20px);
  top: calc(100% - 80px);
  overflow: visible;
}

.autoheight{
  height: fit-content;

  line-break: anywhere;
}

.m-1{
  margin-left: 5px;
}

.m-2{
  margin-left: -5px;
}

.medium-icon{
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.size17 {
  font-size: 17px;
}

.mat-checkbox-checked::ng-deep{
  color: rgb(150, 150, 150);
  text-decoration: rgb(150, 150, 150) line-through;
}

.childContainer{
  margin: 2%;
  width: 30%;
  margin-top: 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.footer{
  color: lightgray;
}

.repeatable-text{
  font-size: 13px;
  color: lightgray;
  border-radius: 5px;
  padding: 1px 3px;
  margin: 2px 4px;
  backdrop-filter: brightness(130%);
  min-width: 10px;
  width: fit-content;
  margin-left: 40px;
}

.task-spinner{
  position: absolute;
  height: 100%;
  margin-top: 1%;
  width: 60%;
  left: 3%;

  background: #424242;
  background-size: cover;
  backdrop-filter: brightness(30%) blur(5px);
}
