.categoryNamesList{
  margin-right: 120px;
  margin-left: 115px;
  font-size: 18px;
}
.categoryName{
  margin-left: 5px;
  width: fit-content;
  min-width: 200px;
  padding: 3px;
  text-align: center;
  border-radius: 8px;
  background:  #69f0ae;
  box-shadow: 0 0 2px gray;
}
