<div>
<!--  ngFor-->
  <div fxLayout="row" fxLayoutAlign="start center" class="categoryNamesList">
    <div class="categoryName">
      <h4>Category</h4>
    </div>
    <div class="categoryName">
      <h4>Category</h4>
    </div>
    <div class="categoryName">
      <h4>Category</h4>
    </div>
  </div>
</div>

<div>
  <mat-accordion multi>
<!--    ngfor-->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Category Name
        </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-checkbox>Task 1</mat-checkbox>

    </mat-expansion-panel>
  </mat-accordion>
</div>
