@import 'ngx-toastr/toastr';
@import 'src/app/core/scss/themes';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background);

  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: var(--navbar-background) transparent;   /* scroll thumb and track */
}

.fullwidth{
  width: 100%;
}

.autowidth {
  min-width: 200px;
  width: auto !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5%;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--navbar-background);
  border-radius: 20px;
  border: 3px solid transparent;
}



.mat-mdc-button, .mdc-button__label {
  display: flex !important;
  align-items: center !important;
}

.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
  display: flex !important;
  align-items: center !important;
}

body {
  --mdc-form-field-label-text-size: 14px !important;
  --mdc-checkbox-state-layer-size: 25px !important;
}
