@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*background: slategrey;*/

  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #424242 transparent;   /* scroll thumb and track */
}

.fullwidth{
  width: 100%;
}

.autowidth {
  min-width: 200px;
  width: auto !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5%;
}

body::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 20px;
  border: 4px solid transparent;
}
