@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: slategrey;
}

.fullwidth{
  width: 100%;
}

.autowidth {
  min-width: 200px;
  width: auto !important;
}
