.container {
  margin: 2% 5%;
}

div>h4 {
  font-size: 16px;
}

.mat-form-field{
  width: 100%;
}

div.block {
  margin: 0 20px;
}
h1{
  margin-left:10px ;
}
.block-container{
  padding: 20px;
  border: 2px solid #424242;
  border-radius: 5px;
  margin-bottom: 5px;
}

.option{
  width: 40%;
}

.op-value {
  width: 40%;
}

.option-close{
  width: 20%;
}

.grey {
  color: rgb(60,60,60);
}


.cdk-drag-placeholder {
  opacity: 0;
}

.btn {
  padding: 2px 30px;
}
